*{
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #797A9E;
    color: #faefef;
    flex: 1;
}

.header {
    padding: 9px 300px;
}

.header-container1,
.header-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container2{
    padding: 80px 0;
    flex-basis: auto;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    gap: 25px;
}

ul {
    list-style: none;
    padding: 0%;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

a:hover {
    background-color: #a49db8;
}

#image {
    height: 390px;
    width: auto;
}

h1 {
    font-size: 47px;
    font-weight: bolder;
    margin: 0;
}

.container {
    width: 500px;
    padding-right: 10px;
}

.img-logo {
    padding-bottom: 20px;
}

p {
    margin: 0;
    font-size: 18px;
    color: #cccccc;
}

.text {
    padding-top: 4px;
}

button {
    font-size: 18px;
    background-color: #21212b;
    color: white;
    padding: 8px 30px;
    border-color: #555555;
    border-width: 3.5px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 17px;
}

button:hover{
    background-color: #c4c4c4;
    color: rgb(90, 90, 90);
}

#image {
    box-shadow: 12px 15px 19px #474747a1;
}

.main-section {
    display: flex;
    flex-direction: column;
}

.first-section {
    padding-bottom: 160px;
    text-align: center;
}

h2 {
    margin: 65px;
    font-size: 36px;
}

.images-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 63px;
}

.image {
    height: 180px;
    width: auto;
    border-radius: 10px;
    border: 4px solid #bbbdf6;
    margin: auto;
    transition: transform .2s;
}

.image:hover {
    transform: scale(1.07);
}

.text-main {
    padding-top: 20px;
    color: #434344;
}

.card {
    width: 280px 0px;
}

.second-section {
    background-color: rgb(206, 206, 206);
    font-size: 40px;
    font-weight: 100;
    color: #383838;
    padding: 100px;
    display: flex;
}

.quote {
    margin: 0 400px;
}

.author {
    text-align: end;
    font-weight: 500;
    font-size: 25px;
    padding-right: 40px;
}

.other-section {
    display: flex;
    padding: 100px;
}

.call-to-action {
    padding: 40px 90px;
    background-color: #9692a7;
    margin: auto;
    border-radius: 10px;
    display: flex;
    gap: 80px;
    align-items: center;
}

#heading {
    margin: 0;
    color: white;
}

.button2 {
    margin: 0;
    background-color: #9394a8;
    border-color: white;
    transition: transform .2s;
}

.button2:hover {
    transform: scale(1.09);
}

.footer {
    padding: 40px;
    text-align: center;
    font-size: 18px;
}